@page
@model WEB315_Assignments_ThemeCricket.Pages_ThemeCricket.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThemeCricket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThemeCricket.ID" />
            <div class="form-group">
                <label asp-for="ThemeCricket.StadiumName" class="control-label"></label>
                <input asp-for="ThemeCricket.StadiumName" class="form-control" />
                <span asp-validation-for="ThemeCricket.StadiumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeCricket.BookingDate" class="control-label"></label>
                <input asp-for="ThemeCricket.BookingDate" class="form-control" />
                <span asp-validation-for="ThemeCricket.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeCricket.City" class="control-label"></label>
                <input asp-for="ThemeCricket.City" class="form-control" />
                <span asp-validation-for="ThemeCricket.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeCricket.State" class="control-label"></label>
                <input asp-for="ThemeCricket.State" class="form-control" />
                <span asp-validation-for="ThemeCricket.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeCricket.Price" class="control-label"></label>
                <input asp-for="ThemeCricket.Price" class="form-control" />
                <span asp-validation-for="ThemeCricket.Price" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
