@page "/Cricket"

<h1>Top 5 Cricket Players</h1>

<button @onclick="CricketPlayers">Click for the Top 5</button>

<p>
    @for (var i = 0; i < PlayerList; i++)
    {
        @Players[i] <br />
    }
</p>

@code{
    private string[] Players = new string[5];

    private void CricketPlayers(){
        Players[0] = "Virat Kohli";
        Players[1] = "Babar Azam";
        Players[2] = "Surya Kumar Yadav";
        Players[3] = "Steve Smith";
        Players[4] = "Rohit Sharma";
    }

    private int PlayerList = 5;
}