@page "/"

<h1>Welcome to Cricket Ranking</h1>
<h2>@Name</h2>
<h2>@Theme</h2>
<h3>@currentDate</h3>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
      string Name = "Arya Patel";
      string Theme = "Cricket"
      DateTime currentDate = DateTime.Now;
}
